// Variables
@import 'variables';

body, html {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  color: $light-grey;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

p, ul, li, ol {
  margin: 0;
  padding: 0;
}

a {
  &:hover {
  text-decoration: none;
  }
}

.btn-default {
  background-color: $red;
  color: $bg-light;
  border: none;
  border-radius: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: all 0.25s ease;
  &:hover {
    color: $bg-light;
    opacity: 0.6;
    transition: all 0.25s ease;
  }
  &:focus {
    border-color: #fff;
    outline: none;
    box-shadow: none;
  }
}

// HEADER Styling

header {
  background-color: $bg-light;
  .logo img {
    max-height: 5rem;
  }
  nav a {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: $dark-grey;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $light-grey;
      transition: all 0.2s ease-in-out;
      transform: scale(1.05);
    }
  }
  .current, .main-link.nav-link.disabled {
    color: $red;
    border-bottom: 2px solid $red;
  }
}

@media (max-width: 992px){
  header {
    display: none;
  }
  header.headerInvisible {
    display: block;
  }
}

// Invisible HEADER Styling

.headerInvisible {
  display: none;
  background-color: $bg-light;
  .logo img {
    max-height: 5rem;
  }
}

// Hamburger Icon Styling

#nav-icon {
  z-index: 3;
  width: 40px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $grey;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3){
      top: 12px;
    }
    &:nth-child(4) {
      top: 24px;
    }
  }
}

#nav-icon.open {
  span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  span:nth-child(2){
    transform: rotate(45deg);
  }
  span:nth-child(3){
    transform: rotate(-45deg);
  }
  span:nth-child(4){
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

// Invisibile SideBar Styling
  
.hiddenSidebar {
  transition: all .35s;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  cursor: pointer;
  nav {
    transition: all 0s;
    position: fixed;
    right: -5000px;
  }
}

.hiddenSidebar.expanded {
  transition: all .35s;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  background-color: $bg-light;
  nav {
     transition: all 0s;
     position: relative;
     right: 0;
     top: 20%;
     z-index: 2;
  }
  a {
     transition: all .25s;
     text-decoration: none;
     font-size: 1.5rem;
     text-transform: uppercase;
     color: $dark-grey;
     display: block;
     &:hover {
        transition: all .25s;
        letter-spacing: 1px;
        color: $light-grey;
     }
  }
  
}

// M A I N  C O N T E N T
// Hero Image Styling

.content {
  animation: 1.5s ease forwards slideFromRight;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.heroImage {
  background-image: url('../images/background-black.jpg');
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .heroText {
    position: absolute;
    top: 30%;
    width: 50%;
    left: 25%;
    text-align: center;
    color: $bg-light;
    font-size: 1.1rem;
    .heading {
      font-size: 3rem;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}

@media (max-width: 810px){
  .heroImage .heroText {
    .heading {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 550px){
  .heroImage .heroText {
    .heading {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 415px){
  .heroImage .heroText {
    .heading {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}


// Footer Styling

.footerUpper {
  min-height: 5rem;
  background-color: $red;
  color: $bg-light;
  p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    a, a:visited {
      color: $bg-light;
      transition: all 0.15s ease-in;
    }
    a:hover {
      color: $grey;
      transition: all 0.15s ease-in;
    }
  }
  .contact {
    p:first-child {
      text-transform: uppercase;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 992px){
  .footerUpper p {
    text-align: center;
  }
}

.footerLower {
  min-height: 5rem;
  background-color: $grey;
  color: $bg-light;
  p {
    margin: 0;
    padding: 0;
  }
  .info {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
    }
    p:first-child {
      text-transform: uppercase;
      font-size: 1.3rem;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }
  }
}

.footerCredits {
  min-height: 3rem;
  background-color: $dark-grey;
  text-align: center;
  p {
    margin: 0;
    padding-top: 0.8rem;
    a {
      text-decoration: none;
      color: $light-grey;
      transition: color 0.25s ease;
      &:hover {
        color: $red;
        transition: color 0.25s ease;
      }
    }
  }
}

// C O N T A C T   P A G E

.stripe {
  min-height: 1rem;
  width: 100%;
  background-color: $red;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.contactForm .info {
  p.heading {
    color: $red;
  }
  a {
    color: $light-grey;
    transition: color 0.25s ease;
    &:hover {
      color: $dark-grey;
      transition: color 0.25s ease;
    }
  }
}

.contactForm .fields {
  .required {
    color: $red;
    font-size: 1.2rem;
  }
  label {
    color: $grey;
  }
  ::placeholder, textarea ::placeholder {
    color: $light-grey;
    opacity: 0.6;
  }
  .form-control, .form-control textarea {
    border-color: $grey;
    border-radius: 0;
    &:focus {
      border-color: $grey;
      box-shadow: 0 0 0 0.1rem rgba(161,159,159,0.8);
    }
  }
  .form-control.is-invalid {
    border-color: $red;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(220,53,69,.25);
    }
  }
  .btn-default {
    margin-bottom: 7rem;
    margin-top: 2rem;
  }
  .alert-success {
    border-radius: 0;
    text-align: center;
  }
}

@media (max-width: 768px){
  .contactForm .fields .btn.btn-primary, .contactForm .info {
    margin-bottom: 3rem;
  }
  
}

// Used Equipment Page Styling

.card {
  border-radius: 0;
  padding: 0;
  .card-title, .card-text span {
    color: $dark-grey;
    text-transform: uppercase;
  }
  .card-img-top {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 40vh;
    object-fit: cover;
  }
  a>.card-img-top {
    filter: brightness(100%);
    transition: all 0.25s ease-in;
    &:hover {
      filter: brightness(90%);
      transition: all 0.25s ease-in;
    }
  }
}

// Single Equipment Page Styling

span.details {
  color: $light-grey;
}

.row.details {
  padding: 0 3rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
  h3 {
    text-transform: uppercase;
    color: $dark-grey;
  }
}

.imagesNav {
  margin-right: 2rem;
  li {
    width: 6rem;
    height: 6rem;
    list-style-type: none;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.125);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    .selected {
      opacity: 0.5;
      transition: all 0.5s ease;
    }
  }
}

.imageBig {
  margin: 1rem 0;
  padding: 1rem;
  max-height: 70vh;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.125);
  img {
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
    object-fit: cover;
    transition: transform 0.7s ease-in-out;
  }
}

.singleDetails {
  span {
    color: $dark-grey;
    text-transform: uppercase;
  }
  table.table {
    table-layout: fixed;
    th {
      color: $dark-grey;
      text-transform: uppercase;
    }
    td {
      color: $light-grey;
    }
  }
}

// Other Products Page Styling

.otherProductsInfo {
  font-size: 1.2rem;
  #grids {
    margin-bottom: 4rem;
  }
  ul li {
    font-size: 1.1rem;
    line-height: 2;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: $bg-light;
    list-style-type: none;
    a {
      color: inherit;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $dark-grey;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  h4 {
    color: $dark-grey;
  }
  .gridsBaskets { 
    img {
      padding: 1.5rem;
      object-fit: contain;
      width: 100%;
    }
    figcaption {
      font-variant: small-caps;
      text-align: center;
    }
  }
}



nav.otherProducts {
    background-color: $grey!important;
    margin-bottom: 8.5rem;
  .dropdown-toggle::after { 
    content: none; 
  } 
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  .slideIn {
    animation-name: slideIn;
  }
  .animate {
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }

  .navbar-nav.main-nav {
    li.nav-item a {
      color: $bg-light;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
        color: $dark-grey;
      }
      &:focus-within {
        color: $dark-grey;
        transform: scale(1.05);
      }
    }
    li.dropdown-submenu a {
      color: $bg-light;
      &:hover {
        color: $dark-grey;
      }
    }
    .dropdown-menu {
      background-color: $grey;
      li:hover {
        background-color: $grey;
      }
    }
  }
  
  .dropdown-submenu {
    position: relative;
    
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -9px;
    background-color: $grey;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

}

@media (max-width: 1200px){
  nav.otherProducts {
    margin-bottom: 3rem;
    .navbar-nav.main-nav li.nav-item a {
      &:hover, &:focus-within {
        transform: scale(1.00);
      }
    }
  }
}