// Variables
@import 'variables';

body, html {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  color: $light-grey;
  height: 100%;
}

// HEADER Styling

header {
  background-color: $bg-light;
  .logo img {
    max-height: 5rem;
  }
  nav a {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: $dark-grey;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $light-grey;
      transition: all 0.2s ease-in-out;
      transform: scale(1.05);
    }
  }
}

@media (max-width: 992px){
  header {
    display: none;
  }
  header.headerInvisible {
    display: block;
  }
}

// Invisible HEADER Styling

.headerInvisible {
  display: none;
  background-color: $bg-light;
  .logo img {
    max-height: 5rem;
  }
}

// Hamburger Icon Styling

  #nav-icon {
    z-index: 3;
    width: 40px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: $grey;
      border-radius: 7px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2), &:nth-child(3){
        top: 12px;
      }
      &:nth-child(4) {
        top: 24px;
      }
    }
  }

  #nav-icon.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2){
      transform: rotate(45deg);
    }
    span:nth-child(3){
      transform: rotate(-45deg);
    }
    span:nth-child(4){
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

// Invisibile SideBar Styling
  
.hiddenSidebar {
  transition: all .35s;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  cursor: pointer;
  nav {
    transition: all 0s;
    position: fixed;
    right: -5000px;
  }
}

.hiddenSidebar.expanded {
  transition: all .35s;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  background-color: $bg-light;
  nav {
     transition: all 0s;
     position: relative;
     right: 0;
     top:20%;
     z-index: 2;
  }
  a {
     transition: all .25s;
     text-decoration: none;
     font-size: 1.5rem;
     text-transform: uppercase;
     color: $dark-grey;
     display:block;
     &:hover {
        transition: all .25s;
        letter-spacing: 1px;
        color: $light-grey;
     }
  }
  
}

// M A I N  C O N T E N T
// Hero Image Styling

.heroImage {
  background-image: url('../images/background-black.jpg');
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .heroText {
    position: absolute;
    top: 30%;
    width: 50%;
    left: 25%;
    text-align: center;
    color: $bg-light;
    .heading {
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 810px){
  .heroImage .heroText {
    .heading {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 550px){
  .heroImage .heroText {
    .heading {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 415px){
  .heroImage .heroText {
    .heading {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}


// Footer Styling

.footerUpper {
  min-height: 5rem;
  background-color: $red;
  color: $bg-light;
  p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }
  .contact {
    p:first-child {
      text-transform: uppercase;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 992px){
  .footerUpper p {
    text-align: center;
  }
}

.footerLower {
  min-height: 5rem;
  background-color: $grey;
  color: $bg-light;
  p {
    margin: 0;
    padding: 0;
  }
  .info {
    text-align: center;
    ul{
      list-style-type: none;
      padding: 0;
    }
    p:first-child {
      text-transform: uppercase;
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
  }
}

.footerCredits {
  min-height: 3rem;
  background-color: $dark-grey;
  text-align: center;
  p {
    margin: 0;
    padding-top: 0.8rem;
    a {
      text-decoration: none;
      color: $light-grey;
      transition: color 0.25s ease;
      &:hover {
        color: $red;
        transition: color 0.25s ease;
      }
    }
  }
}